.detail-container{
    max-width: 1300px;
    margin: 0 auto;
}
.sub-container{
    padding-top: 6%;
    padding-bottom: 24%;
}
.details-form{
    width: 580px;
    padding: 40px;
    border-radius: 8px;
    min-height: 320px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: white;
}
.medium{
    width: 47%;
    margin: 0 1%;
}
.large{
    width: 96.5%;
}
.small{
    width: 30.35%;
    margin: 1%;
}
.medium,.small{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #484848;
}
.date-medium{
    width: 47%;
    margin: 0 1%;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #484848;
}

.date-medium .mdl-textfield__label:after {
    top: 46px;
}

.medium .mdl-textfield__label:after ,small .mdl-textfield__label:after {
    top: 42px;
}
.large{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #484848;
}
.mdl-textfield__label{
     color: #484848;
    }
.mdl-textfield__label:after {
    color: #484848 !important;
    background-color: black !important;
}
.mt-detail{
    position: relative;
    top: 2.5px;
}
.label{
    color: #484848 !important;
}
.next-button{
    background-color: black;
    color: white;
    width: 96.5%;
    padding: 3px;
    border-radius: 3px;
    height: auto !important;
    margin-top: 12px;
}
.upload-button{
    background-color: black;
    color: white;
    width: 96.5%;
    padding: 3px;
    border-radius: 3px;
    height: auto !important;
    margin-top: 18px;
}
.upload-button:hover,.upload-button:focus-within{
    background-color: #484848;
}
.next-button:hover,.next-button:focus-within{
    background-color: #484848;
}

.large2{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #484848;
    width: 96.5%;
}
.large2 .mdl-textfield__label:after {
    top: 42px;
}
.dropdown-label{
    color: #484848 !important;
}
.heading-medium{
    font-size: 15px;
    font-weight: 600;
    color: #484848;
}
.size-20{
    width: 31.2%;
}
.size-30{
    width: 28.5%;
}
.data-table{
    width: 96.5%;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 12px;
    table-layout: fixed;
    word-wrap: break-word;
}
.percentage{
    margin-left: 14%;
}
.session{
    margin-left: 8%;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.header{
    height: 60px;
}
.header div{
    height: 60px;
    width: 100%;
    background-color: #484848;
    position: fixed;
    top: 0;
    z-index: 4;
    overflow: hidden;
}
.logo{
    margin-left: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 50px;
}
.detail-footer{
    background-color: #eee;
}
.mt-icon{
    padding: 10px;
    border-radius: 100%;
}
.response-message{
    color: #484848;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 540px;
    padding: 40px;
    padding-bottom: 46px;
    border-radius: 8px;
    min-height: 80px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: white;
}
.thankyou-img{
    width: 100%;
    text-align: center;
    margin: 14px;
}
.thankyou-img img{
    width: 70%;
}
.body{
    background-image: url("../images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
.detail-footer{
    padding-bottom: 24px !important;
}
.pb-8{
    padding-top: 6%;
    padding-bottom: 24%;
}
@media screen and (min-width:1000px) {
    .small,.date-medium, .medium, .large2{
        height: 52px;
    }
}
@media screen and (max-width:1000px){
    .data-table{
        margin-top: 42px;
        margin-bottom: 42px;
    }
    .heading-medium{
        font-weight: 800;
        font-size: 36px;
        margin: 54px 0;
    }
    .details-form{
        width: 82%;
        padding: 7% 4%;
    }
    .sub-container{
        padding-top: 30%;
        padding-bottom: 0%;
    }
    .medium, .small, .date-medium{
        width: 96.5%;
    }
    .next-button,.upload-button{
        font-size: 32px;
        padding: 24px;
        border-radius: 8px;
        margin-top: 8px;
    }
    .pb-8{
        padding-top: 30%;
        padding-bottom: 0%;
    }
    input,select{
        padding: 22px !important;
        font-size: 32px !important;
    }
    textarea{
        padding: 22px !important;
        font-size: 32px !important;
        line-height: 40px !important;
    }
    .mdl-textfield__label{
        line-height: 36px !important;
        font-size: 32px !important;
    }
    .mdl-textfield__label:after{
        top: initial;
        font-size: 32px !important;
    }
    .large2 .mdl-textfield__label:after {
        top: 96px;
    }
    .date-medium .mdl-textfield__label:after {
        top: 96px;
    }
    
    .medium .mdl-textfield__label:after ,small .mdl-textfield__label:after {
        top: 96px;
    }
    td,th{
        font-size: 32px !important;
        line-height: 100px !important;
    }
    .header{
        height: 120px;
    }
    .header div{
        height: 120px;
    }
    .logo{
        margin-left: 24px;
        margin-top: 2px;
        width: 100px;
    }
    .thankyou-img{
        width: 100%;
        text-align: center;
        margin: 14px;
    }
    .thankyou-img img{
        width: 80%;
    }
    .response-message{
        font-size: 32px;
        line-height: 41px;
        width: 82%;
        padding: 7% 4%;
        font-weight: 700;
    }
} 